/* ALGEMENE STYLES */
/******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* COLORS */

:root {
    --nav-color: black;
    --background-color: white;
    --about-color: #1e704b;
    --deco-color: #483838;
    --soft-text: #d0c7c4;
    --nav-text: #ddd;
}


html{
    
    scroll-behavior: smooth;
    position: absolute;
}

body{
    font-family: 'Metrophobic', sans-serif;
    
}




/******* NAVIGATION *********/
/****************************/

nav{
    overflow: hidden;
    display: flex;
    width:100%;
    flex-direction: row;
   
    background-color: var(--deco-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

nav a {
    color: var(--background-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    background-color: var(--nav-text);
    color: black;
}

nav a.active {
    background-color: var(--nav-color);
    color: white;
}

nav .icon {
    display: none;
}

img{
    width:10%;
}




/****** STYLES SAMENVATTING******/
/*******************************/

#bordspel{
    margin-top:5em;
    text-align: center;
    
}

#bordspel article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#bordspel p{
    width:40%;
}

#bordspel figure{
    width: 35%;

}

#bordspel img{
    width: 100%;
}


#bordspel h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin-bottom:1em;
}




/******** STYLES REGELS ********/
/*******************************/

#regels{
    margin-top:5em;
    text-align: center;
}

#regels article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#regels p{
    width:40%;
}

#regels h2{
    margin-bottom: 1em;
}

#regels figure{
    width: 35%;

}

#regels img{
    width: 100%;
}



/***** MEDIA QUERIES *****/
/************************/

/* When screen < 600 pixels wide, hide all links, except the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }

  /* The "responsive" class is added */

    nav.responsive {
        display:flex;
        flex-direction: column;
    }
    nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }