/* ALGEMENE STYLES */
/******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquarda+Bastarda+9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquarda+Bastarda+9&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* COLORS */

:root {
    --nav-color: black;
    --background-color: white;
    --about-color: #1e704b;
    --deco-color: #483838;
    --soft-text: #d0c7c4;
    --nav-text: #ddd;
    --yellow: #D9AD29;
}


html{
    
    scroll-behavior: smooth;
    position: absolute;
}

body{

    font-family: 'Metrophobic', sans-serif;
    font-family: 'FontAwesome';
    background-color: #302B51;
    color: white;
    
    
}

h1, h2, h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

p, a{
    
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}






/******* NAVIGATION *********/
/****************************/

header{
    width: 100%;
    top:0;
    background-color:#302B51 ;
    position: sticky;
}

#header{
   
    display: flex;
    justify-content: space-between;

    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

header h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    
}


nav a{
    padding: 0 5px 0 5px;
    color: var(--nav-text);
    text-decoration: none;
}

nav .icon{
    display: none;
}



/************* STYLES matching**********/
/*******************************/

#matching{
    margin-top:3em;
    
    margin-left: 10%;
    margin-right: 10%;
}

#matching article{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#matching p{
    width:45%;
    text-align: left;
}

#matching figure{
    width: 45%;
   
}

#matching img{
    width:100%;
}



#matching a{
    display:block;
    color: var(--nav-text);
    background-color: var(--yellow);
    text-decoration: none;
    font-weight:600;

    padding: 10px;
    margin-top: 2em;
    width: 12em;
  
    border-radius: 10px;
    box-shadow: 2px 2px 1px var(--nav-text);
}



#matching a:visited{
    color: var(--nav-text);
}

#matching a:hover{
    color: var(--yellow);
}





/**********BLOCKS *************/
/******************************/

#block{
    display: inline-block;
    text-align: left;
     padding: 5px;
     margin-bottom: 3em;
     background-color: var(--yellow);
 }
 
 #block p{
     font-weight: 400;
    
 }






/************* STYLES uitleg**********/
/**************************************/


#uitleg{
    margin-top:11em;
    text-align: center;
    
}

#uitleg article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    margin-bottom: 8em;
}

#uitleg p{
    width:40%;
}

#uitleg figure{
    width: 50%;
    
}

#uitleg img{
    width:100%;
}

#uitleg h2:first-of-type{
    margin-bottom:2em;
}



/********** IMAGE GALLERY **********/
/************************************/


/***** MEDIA QUERIES *****/
/************************/

/* CREDITS: W3SCHOOLS */

/* When screen < 600 pixels wide, hide all links, except the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    nav{
        position: absolute;
        right: 45px;
        top: 20px;
    }
    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
      position: absolute;
      right: -25px;
      top: 0px;
      display: block;
    }

    

  /* The "responsive" class is added */

    nav.responsive {
        display:flex;
        flex-direction: column;
    }
    nav.responsive a.icon {
      position: absolute;
      right: -25px;
      top: 0px;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #matching figure{
        display:none;
    }

    #matching p{
        width: 80%;
    }


  }